/* body{
    font-family: Akshar;
    color: black;
}

#title{
    border-style: solid;
    border-width: 2px;
    display: flex;
    justify-content: center;
}

.test{
    display: flex;
    flex-direction: row;
} */

